<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_24.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_24.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_24.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_24.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.1274262949256417"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.853429487062502e-05" ixy="-5.916411363064962e-09" ixz="2.2071870059482236e-08" iyy="8.853389730473677e-05" iyz="2.2659485728490836e-08" izz="3.179172430277815e-05"/>     </inertial>   </link>  </robot>