<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_33.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_33.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_33.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_33.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.27645273543576443"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022620168182580915" ixy="-2.9548243113193803e-11" ixz="-2.407307028325142e-08" iyy="0.00022620153882463415" iyz="-2.1006980632609684e-08" izz="0.0001495629595526902"/>     </inertial>   </link>  </robot>