<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_115.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_115.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_115.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_115.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4015987087393035"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00039077607572147966" ixy="-8.259428726693545e-08" ixz="-1.5514291209211114e-09" iyy="0.0003907754009314048" iyz="2.1827325042824118e-08" izz="0.00030190196081300726"/>     </inertial>   </link>  </robot>