<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_176.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_176.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_176.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_176.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.16980483829520343"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00019125402372208487" ixy="-4.924290440935313e-09" ixz="-1.2690834331623404e-08" iyy="0.0001912550052108626" iyz="-1.2096623658534187e-08" izz="4.2106800349143005e-05"/>     </inertial>   </link>  </robot>