<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_195.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_195.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_195.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_195.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.30911515922367205"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022423798039393012" ixy="-3.397197598927269e-08" ixz="5.108534847003795e-08" iyy="0.00022422992340645563" iyz="3.5089781513119786e-08" izz="0.00025325630011472337"/>     </inertial>   </link>  </robot>