<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_160.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_160.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_160.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_160.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.43352640000433584"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00043494876572633894" ixy="-8.428564624821615e-08" ixz="4.951255495257735e-08" iyy="0.0004349410334460301" iyz="4.8079767528278044e-08" izz="0.00037251350648426196"/>     </inertial>   </link>  </robot>