<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_173.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_173.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_173.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_173.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3372492695791554"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00048567434038644083" ixy="-2.5145941981279034e-08" ixz="4.340693265535852e-08" iyy="0.0004856746123835541" iyz="4.0039293098990884e-08" izz="0.00015275631045198122"/>     </inertial>   </link>  </robot>