<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_121.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_121.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_121.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_121.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.25188382645610113"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00011494922825799727" ixy="-1.805715134937697e-08" ixz="6.683903391315881e-07" iyy="0.00011494406715660912" iyz="-1.4625378830889058e-07" izz="0.00014190514671356963"/>     </inertial>   </link>  </robot>