<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_39.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_39.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_39.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_39.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.19782386977603103"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00018333500280990508" ixy="2.732123786138113e-09" ixz="-5.96871803387777e-08" iyy="0.00018333513276050272" iyz="-5.7871750537776556e-08" izz="6.489467159918399e-05"/>     </inertial>   </link>  </robot>