<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_50.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_50.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_50.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_50.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.1942391622451276"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00012537722635849803" ixy="-2.1304468555564043e-08" ixz="-2.0173657201689764e-09" iyy="0.00012537720982101264" iyz="-9.41896078933565e-10" izz="8.514019072926328e-05"/>     </inertial>   </link>  </robot>