<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_196.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_196.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_196.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_196.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4953568511733492"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000810205955113546" ixy="-9.225206486737877e-10" ixz="5.879690229480746e-08" iyy="0.0008102137009615519" iyz="-5.992876848820973e-09" izz="0.0003116580313641664"/>     </inertial>   </link>  </robot>