<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_168.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_168.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_168.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_168.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2776828106214967"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0001811908758153081" ixy="-4.950591822338204e-08" ixz="-1.0608605831297648e-08" iyy="0.0001811885474811099" iyz="-1.5941701625493533e-08" izz="0.000198855378067128"/>     </inertial>   </link>  </robot>