<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_177.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_177.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_177.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_177.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.13499819452328898"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.421946847507937e-05" ixy="-3.297514207081402e-09" ixz="-1.3947041123544123e-08" iyy="8.42189503512763e-05" iyz="-1.5943538452298027e-08" izz="3.656309650571559e-05"/>     </inertial>   </link>  </robot>