<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_103.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_103.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_103.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_103.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.18174089949008582"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="9.508743787910423e-05" ixy="8.447009166376012e-10" ixz="-1.8881846615429268e-08" iyy="9.508697315089158e-05" iyz="-1.7856545569301173e-08" izz="8.845401697713067e-05"/>     </inertial>   </link>  </robot>