<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_148.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_148.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_148.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_148.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.22005969698446481"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00015938813660798458" ixy="1.313592817083585e-08" ixz="-2.7701002200254327e-08" iyy="0.00015938881313211763" iyz="-2.22871175625957e-08" izz="9.91078038625195e-05"/>     </inertial>   </link>  </robot>