<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_116.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_116.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_116.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_116.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3157647604122756"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0005639616519448915" ixy="1.1126070565074157e-08" ixz="5.79907754263032e-09" iyy="0.0005639614620172939" iyz="1.9431532414847642e-08" izz="0.00011401256098297885"/>     </inertial>   </link>  </robot>