<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_199.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_199.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_199.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_199.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2237956745030148"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0003606699871376774" ixy="3.3103706723973844e-09" ixz="-4.301245974143972e-08" iyy="0.00036067014913516147" iyz="-4.6316644668365174e-08" izz="6.064674647514563e-05"/>     </inertial>   </link>  </robot>