<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_137.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_137.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_137.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_137.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.22072357776234397"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00033617778444455516" ixy="-2.642441699427549e-09" ixz="-1.0783073007817892e-08" iyy="0.0003361778435798582" iyz="-9.622163961271838e-09" izz="5.985236872557201e-05"/>     </inertial>   </link>  </robot>