<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_85.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_85.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_85.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_85.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.15008206738727678"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.641616015234373e-05" ixy="-7.478655823750814e-09" ixz="1.8624557803660843e-09" iyy="8.641614701711012e-05" iyz="2.211438246592743e-09" izz="5.097094012834116e-05"/>     </inertial>   </link>  </robot>