<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_150.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_150.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_150.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_150.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2475484425706941"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00040802665444619507" ixy="-2.4063428982065152e-08" ixz="2.7993310668702436e-08" iyy="0.00040802639614442485" iyz="2.4655035540159497e-08" izz="7.666851596071731e-05"/>     </inertial>   </link>  </robot>