<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_139.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_139.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_139.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_139.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.33032517962350005"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00025232368946606447" ixy="-2.112603458765453e-08" ixz="1.6929068693690797e-10" iyy="0.0002523283404376622" iyz="-8.720824485936326e-09" izz="0.0002592350312367054"/>     </inertial>   </link>  </robot>