<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_65.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_65.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_65.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_65.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.15184438240276968"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000104216362806969" ixy="-7.698250571941767e-09" ixz="4.362650690470637e-09" iyy="0.00010421586009770778" iyz="8.157966969892165e-09" izz="4.535663069834503e-05"/>     </inertial>   </link>  </robot>