<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_145.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_145.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_145.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_145.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3956229161448965"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00038574855446819244" ixy="-1.9568991345051648e-08" ixz="-1.306331374311283e-08" iyy="0.0003857495175463879" iyz="-7.113656187333802e-09" izz="0.0002937736725811931"/>     </inertial>   </link>  </robot>