<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_91.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_91.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_91.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_91.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3645223383044094"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00042502002794140886" ixy="-2.694577115205969e-09" ixz="-9.361512766091554e-08" iyy="0.000425025781677737" iyz="-7.73486712234772e-08" izz="0.00020425868519211168"/>     </inertial>   </link>  </robot>