<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_95.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_95.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_95.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_95.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.21025519548931287"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00023707281212797892" ixy="5.414066978710349e-09" ixz="-1.519386560015309e-08" iyy="0.00023707286824968684" iyz="-1.048240850144211e-08" izz="6.400349977300856e-05"/>     </inertial>   </link>  </robot>