<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_143.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_143.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_143.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_143.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.18411684938112396"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022065451079591414" ixy="-1.4211671079558577e-08" ixz="-1.8902909115551554e-08" iyy="0.00022065565104908478" iyz="-1.1302860652040977e-08" izz="4.9778835061559794e-05"/>     </inertial>   </link>  </robot>