<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_35.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_35.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_35.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_35.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2664260377762446"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00013970986066448295" ixy="2.6914736446031645e-10" ixz="1.960725432532996e-07" iyy="0.0001397097942476382" iyz="-1.1478133834397072e-08" izz="0.00010521647518146739"/>     </inertial>   </link>  </robot>