<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_26.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_26.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_26.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_26.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.31613579342326603"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0002681413779280749" ixy="-6.354094252174698e-09" ixz="2.1698608585612294e-08" iyy="0.00026814181729706906" iyz="1.3728191806461457e-08" izz="0.00019132581460149276"/>     </inertial>   </link>  </robot>