<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_31.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_31.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_31.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_31.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4948357515495254"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000723426349204505" ixy="-3.836885775901838e-08" ixz="5.8778968114959804e-08" iyy="0.0007234261727707636" iyz="3.178788067966785e-08" izz="0.00033661789430671684"/>     </inertial>   </link>  </robot>