<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_62.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_62.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_62.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_62.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.16864914883382034"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00020599664539417716" ixy="-5.6386010573026005e-09" ixz="1.8808166484634353e-08" iyy="0.00020599849333009188" iyz="1.729721966667862e-08" izz="4.061041616338196e-05"/>     </inertial>   </link>  </robot>