<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_106.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_106.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_106.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_106.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.23417327999152426"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00015413114250027382" ixy="-5.82839964460293e-09" ixz="1.0330781724246653e-07" iyy="0.0001541356987765631" iyz="5.8842570202235914e-08" izz="0.00013022176123196518"/>     </inertial>   </link>  </robot>