<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_159.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_159.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_159.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_159.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2273397481776335"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00011765767470405965" ixy="2.165687752438467e-09" ixz="1.623009416647887e-07" iyy="0.0001176574065960826" iyz="-3.9232676719582375e-08" izz="8.313072260119253e-05"/>     </inertial>   </link>  </robot>