<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_165.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_165.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_165.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_165.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.30823214884715033"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0002838881386868943" ixy="-4.981635113524732e-08" ixz="-6.585981312532617e-08" iyy="0.0002838905097988638" iyz="-5.434204001960372e-08" izz="0.00017025006792812796"/>     </inertial>   </link>  </robot>