<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_102.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_102.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_102.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_102.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.11645339348375297"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="5.477293260945149e-05" ixy="-2.0616956174099754e-10" ixz="-5.38355139905294e-10" iyy="5.47724832186345e-05" iyz="8.671218500927751e-10" izz="3.3675478254922615e-05"/>     </inertial>   </link>  </robot>