<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_190.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_190.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_190.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_190.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.26634804564184195"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00026386017423562087" ixy="-1.9861954722470603e-08" ixz="2.5446084344720322e-08" iyy="0.00026385993946129134" iyz="1.8277419131217732e-08" izz="0.00011542212474589935"/>     </inertial>   </link>  </robot>