<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_107.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_107.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_107.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_107.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.321665804151858"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00023913074767332364" ixy="7.623320726922637e-09" ixz="-8.791506427950704e-08" iyy="0.00023913194170075162" iyz="-8.822221970390162e-08" izz="0.000251749341412806"/>     </inertial>   </link>  </robot>