<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_197.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_197.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_197.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_197.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2532784531147478"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022895940406148478" ixy="-8.141556410543252e-08" ixz="-7.055306569248442e-08" iyy="0.00022895677810271471" iyz="-6.374552824191941e-08" izz="0.00012121580867974297"/>     </inertial>   </link>  </robot>