<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_157.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_157.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_157.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_157.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.16422825612184988"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00020763635493057785" ixy="-8.989317550292206e-09" ixz="8.052706974138863e-09" iyy="0.00020763637116810328" iyz="4.960199583054082e-09" izz="3.843446930121598e-05"/>     </inertial>   </link>  </robot>