<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_171.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_171.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_171.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_171.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6489490083647566"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0011469315492509695" ixy="-5.0716941260926175e-09" ixz="-3.8880894135185104e-08" iyy="0.001146926587431359" iyz="-2.682497942219929e-09" izz="0.0005326913478260582"/>     </inertial>   </link>  </robot>