<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_172.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_172.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_172.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_172.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.15314913221150103"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="7.150461798934793e-05" ixy="5.962155103814944e-10" ixz="2.4498613080035277e-07" iyy="7.15045714063554e-05" iyz="-2.7935208726731718e-08" izz="3.553946408507849e-05"/>     </inertial>   </link>  </robot>