<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_113.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_113.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_113.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_113.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.1869115346467068"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00010505382898139678" ixy="9.033218978415571e-09" ixz="-1.0046729721919936e-08" iyy="0.00010505398945519768" iyz="-1.3524828879470337e-08" izz="8.787055365530748e-05"/>     </inertial>   </link>  </robot>