<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_22.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_22.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_22.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_22.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.23044580039747095"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022984518753798585" ixy="-3.2676515981768233e-09" ixz="-2.809336093329177e-08" iyy="0.00022984535843162466" iyz="-2.7339958166585568e-08" izz="8.528869884980478e-05"/>     </inertial>   </link>  </robot>