<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_40.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_40.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_40.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_40.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.23269197253386897"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00023445008599707137" ixy="-2.8016494654334076e-09" ixz="-3.723051748623495e-08" iyy="0.00023444986743090756" iyz="-3.632450875176991e-08" izz="8.884762484156788e-05"/>     </inertial>   </link>  </robot>