<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_112.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_112.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_112.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_112.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.21279049847013692"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00015607255471262118" ixy="-5.575192822780134e-08" ixz="-1.2687503929810082e-08" iyy="0.00015607616505714598" iyz="-1.2086973629126534e-08" izz="9.492177500126091e-05"/>     </inertial>   </link>  </robot>