<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_82.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_82.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_82.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_82.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2945035528964632"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00020747248831989957" ixy="2.1306521486082464e-09" ixz="-3.7743621365784096e-08" iyy="0.00020747331093965953" iyz="-3.574519299736539e-08" izz="0.00021194589736649467"/>     </inertial>   </link>  </robot>