<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_192.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_192.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_192.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_192.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3279972933395538"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00024023402102572535" ixy="-8.93480708986172e-08" ixz="-1.5675879522929755e-08" iyy="0.00024023304271976445" iyz="-9.529719094486828e-09" izz="0.00027682312481559665"/>     </inertial>   </link>  </robot>