<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_163.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_163.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_163.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_163.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.146879144515386"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.930598327734157e-05" ixy="-1.0546630518207097e-08" ixz="2.1663682268727763e-08" iyy="8.930572637494224e-05" iyz="1.9855212385902754e-08" izz="4.8129115646449834e-05"/>     </inertial>   </link>  </robot>