<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_5.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_5.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_5.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_5.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.20950438728265888"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0001714300293681666" ixy="-6.5360642083098725e-09" ixz="6.322248411656683e-09" iyy="0.00017143002630500597" iyz="7.48118190748341e-09" izz="7.990205815572608e-05"/>     </inertial>   </link>  </robot>