<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_25.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_25.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_25.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_25.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.32363345933862975"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00023412215862050754" ixy="7.048420842123802e-08" ixz="6.011313075911237e-08" iyy="0.0002341328216974658" iyz="7.395481248608906e-08" izz="0.0002797244153381747"/>     </inertial>   </link>  </robot>