<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_140.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_140.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_140.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_140.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.12475394471011167"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.242095786911925e-05" ixy="-1.8430827821196592e-09" ixz="-1.0270231621858084e-08" iyy="8.24205879822048e-05" iyz="-1.103750448416591e-08" izz="3.0704059203795935e-05"/>     </inertial>   </link>  </robot>