<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_92.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_92.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_92.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_92.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.31804531650116613"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0003389112301643043" ixy="-1.3695745452098294e-08" ixz="-3.0332466238965347e-09" iyy="0.00033891058007940676" iyz="-2.0483453972497986e-09" izz="0.00016256418654065442"/>     </inertial>   </link>  </robot>