<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_41.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_41.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_41.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_41.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4660363992605103"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000744306794402239" ixy="-3.403731865729882e-08" ixz="3.402836700020222e-08" iyy="0.0007443079750333814" iyz="3.518224229734243e-08" izz="0.00028581427291286734"/>     </inertial>   </link>  </robot>