<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_76.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_76.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_76.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_76.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4776852308926533"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000595994439021033" ixy="-8.924451033800674e-09" ixz="2.664379355887276e-09" iyy="0.0005959960269427541" iyz="-1.1458253335621379e-08" izz="0.0003516221283286875"/>     </inertial>   </link>  </robot>