<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_9.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_9.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_9.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_9.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.19515952076158216"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00012043193723625074" ixy="-3.739557152833161e-08" ixz="-5.25466765581193e-09" iyy="0.00012043175114743101" iyz="-1.2793744449369673e-08" izz="8.608742204414488e-05"/>     </inertial>   </link>  </robot>