<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_15.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_15.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_15.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_15.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.28458887448138864"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0002685093859489258" ixy="-1.430793474669841e-08" ixz="-4.955103071108708e-08" iyy="0.00026850829117985923" iyz="-5.947028528381267e-08" izz="0.00014159031961531496"/>     </inertial>   </link>  </robot>