<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_135.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_135.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_135.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_135.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.28728437792022254"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00019797778423564082" ixy="2.339773087070565e-09" ixz="4.510392380507159e-08" iyy="0.0001979790059958181" iyz="4.718045641412153e-08" izz="0.00020340348087487104"/>     </inertial>   </link>  </robot>