<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_38.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_38.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_38.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_38.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.32075846923422313"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00018676367942433537" ixy="-5.5219638438294285e-09" ixz="-2.8181892990802016e-07" iyy="0.00018676303873223706" iyz="2.6040945115387014e-08" izz="0.0001521880943808434"/>     </inertial>   </link>  </robot>