<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_104.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_104.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_104.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_104.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.110376813275899"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="5.1554813250892316e-05" ixy="4.124625540978225e-09" ixz="-9.181138392715514e-09" iyy="5.155271947011488e-05" iyz="9.348478849491846e-09" izz="3.0543036167976934e-05"/>     </inertial>   </link>  </robot>