<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_10.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_10.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_10.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_10.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.43968884533260205"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00044905847094086016" ixy="-7.444438967355378e-08" ixz="1.90468458099221e-08" iyy="0.0004490508500293959" iyz="-1.2453213652120916e-08" izz="0.00035419162620733247"/>     </inertial>   </link>  </robot>