<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_93.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_93.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_93.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_93.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.16281108097980965"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="9.672331254643433e-05" ixy="-1.003464885017513e-08" ixz="1.926711391730759e-09" iyy="9.672330831747225e-05" iyz="2.1126896064471197e-09" izz="5.964464527006347e-05"/>     </inertial>   </link>  </robot>