<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_187.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_187.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_187.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_187.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3247987980836762"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00045975439365223883" ixy="1.8245029377621706e-08" ixz="-6.402793554946846e-08" iyy="0.000459752899198857" iyz="-7.85827864552492e-08" izz="0.00013937964873499747"/>     </inertial>   </link>  </robot>