<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_52.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_52.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_52.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_52.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2687534818016401"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00026909346771467415" ixy="-4.5795424322823126e-08" ixz="-8.756171267935554e-09" iyy="0.00026909347884076205" iyz="4.348844788335445e-10" izz="0.00012740630327582683"/>     </inertial>   </link>  </robot>