<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_12.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_12.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_12.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_12.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3801824449903743"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00033257017838549043" ixy="-6.966857967706492e-08" ixz="-8.550417743065992e-10" iyy="0.000332571086219149" iyz="-1.872807806381785e-09" izz="0.00030740452055402507"/>     </inertial>   </link>  </robot>