<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_70.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_70.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_70.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_70.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2100048630026002"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00027142855103221773" ixy="-6.256801596218089e-10" ixz="-2.8395004808038183e-08" iyy="0.0002714286594260496" iyz="-2.6567268724466458e-08" izz="5.909716833817641e-05"/>     </inertial>   </link>  </robot>