<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_60">   <link name="cylinder_box_60">     <visual>       <geometry>         <mesh filename="../meshes/box/box_60.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_60.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.30662301147184784"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00028908035531049483" ixy="1.707368903040229e-08" ixz="-2.3172394103264808e-08" iyy="0.0001698081299527377" iyz="-6.19096280297917e-08" izz="0.0003177448790980659"/>     </inertial>   </link>  </robot>