<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_133">   <link name="cylinder_box_133">     <visual>       <geometry>         <mesh filename="../meshes/box/box_133.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_133.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3313444384360764"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00030626535555722636" ixy="8.294610691613623e-08" ixz="-2.6606703667668895e-07" iyy="0.00026092296421044816" iyz="6.216321265083992e-08" izz="0.00023905172412356582"/>     </inertial>   </link>  </robot>