<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_70">   <link name="cylinder_box_70">     <visual>       <geometry>         <mesh filename="../meshes/box/box_70.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_70.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2414339239475242"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00011492486663986229" ixy="-3.413138260527589e-08" ixz="4.037624569357312e-07" iyy="0.00011135142550829732" iyz="-1.459149644683884e-09" izz="0.00015842857266197945"/>     </inertial>   </link>  </robot>