<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_16">   <link name="cylinder_box_16">     <visual>       <geometry>         <mesh filename="../meshes/box/box_16.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_16.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.28279638238259963"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000164073918168112" ixy="5.1397864796335906e-09" ixz="3.977577173868882e-08" iyy="0.00025022754242719127" iyz="2.1093747022855446e-08" izz="0.00022504505359136626"/>     </inertial>   </link>  </robot>