<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_143">   <link name="cylinder_box_143">     <visual>       <geometry>         <mesh filename="../meshes/box/box_143.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_143.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.1681690570845181"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.24221385907111e-05" ixy="7.639003081974686e-09" ixz="-7.745677281441566e-08" iyy="7.991695988841525e-05" iyz="-9.906970957956499e-08" izz="9.279182231945068e-05"/>     </inertial>   </link>  </robot>