<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_0">   <link name="cylinder_box_0">     <visual>       <geometry>         <mesh filename="../meshes/box/box_0.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_0.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.40113276982870855"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00033494042449541206" ixy="4.685763793905253e-08" ixz="1.2339744116237117e-07" iyy="0.0003560541802977858" iyz="8.994156426081262e-09" izz="0.0005035320875174921"/>     </inertial>   </link>  </robot>