<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_145">   <link name="cylinder_box_145">     <visual>       <geometry>         <mesh filename="../meshes/box/box_145.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_145.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.21098096637291638"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00013792094839052392" ixy="-2.793807549174722e-08" ixz="-2.50553081248714e-09" iyy="0.0001267109369272832" iyz="-1.2239027894570834e-07" izz="0.00011195793793062645"/>     </inertial>   </link>  </robot>