<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_53">   <link name="cylinder_box_53">     <visual>       <geometry>         <mesh filename="../meshes/box/box_53.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_53.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.26097649942156503"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00015363583181256555" ixy="2.7195069281973465e-08" ixz="-3.8395187056106414e-07" iyy="0.0002065151997543393" iyz="1.2417087310769643e-08" izz="0.00018328524478482023"/>     </inertial>   </link>  </robot>