<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_10">   <link name="cylinder_box_10">     <visual>       <geometry>         <mesh filename="../meshes/box/box_10.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_10.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.24171698034317993"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0002060418726239656" ixy="5.948318923490347e-10" ixz="-5.888150277055553e-10" iyy="0.00019737642815179887" iyz="-4.5445200725503167e-08" izz="0.00011387089101863938"/>     </inertial>   </link>  </robot>