<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_128">   <link name="cylinder_box_128">     <visual>       <geometry>         <mesh filename="../meshes/box/box_128.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_128.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.7075375502362627"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.001147686305078533" ixy="1.3329406503910518e-07" ixz="1.4199247699948884e-07" iyy="0.0008871623492364908" iyz="-1.0394374167590182e-07" izz="0.0008761333771200562"/>     </inertial>   </link>  </robot>