<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_24">   <link name="cylinder_box_24">     <visual>       <geometry>         <mesh filename="../meshes/box/box_24.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_24.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2367518329441746"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00014284892545669012" ixy="6.98585833039035e-09" ixz="-6.562901707110251e-08" iyy="0.00018121810209094602" iyz="2.149446007965667e-09" izz="0.0001421098131990955"/>     </inertial>   </link>  </robot>