<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_167">   <link name="cylinder_box_167">     <visual>       <geometry>         <mesh filename="../meshes/box/box_167.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_167.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5737246408135851"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0006689080349542264" ixy="1.8080892885678177e-08" ixz="1.2880905025814736e-08" iyy="0.00065167499986693" iyz="-1.632628494975427e-07" izz="0.0006549395761449799"/>     </inertial>   </link>  </robot>