<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_76">   <link name="cylinder_box_76">     <visual>       <geometry>         <mesh filename="../meshes/box/box_76.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_76.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4386008087056877"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00036079155399350977" ixy="-3.90496483033271e-08" ixz="-2.9455655619416293e-08" iyy="0.00046412026195906115" iyz="-9.034868370377809e-08" izz="0.00046537380664955476"/>     </inertial>   </link>  </robot>