<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_79">   <link name="cylinder_box_79">     <visual>       <geometry>         <mesh filename="../meshes/box/box_79.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_79.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2591731414948543"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022051232533586157" ixy="8.022384590121886e-09" ixz="3.4401215194741236e-08" iyy="0.0001777830674272926" iyz="5.071138069000478e-08" izz="0.00015384264672726244"/>     </inertial>   </link>  </robot>