<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_61">   <link name="cylinder_box_61">     <visual>       <geometry>         <mesh filename="../meshes/box/box_61.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_61.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3226088814545965"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00024252124327564024" ixy="1.2570035217047773e-08" ixz="-2.8627769792002553e-08" iyy="0.0002755778818185985" iyz="3.1781061374853625e-08" izz="0.00024025841108443475"/>     </inertial>   </link>  </robot>