<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_9">   <link name="cylinder_box_9">     <visual>       <geometry>         <mesh filename="../meshes/box/box_9.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_9.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3828438067827733"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00026245038921498756" ixy="6.104348336301487e-08" ixz="-4.045063370901229e-08" iyy="0.00044430257780679627" iyz="7.680904196957294e-08" izz="0.0003856677524792407"/>     </inertial>   </link>  </robot>