<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_40">   <link name="cylinder_box_40">     <visual>       <geometry>         <mesh filename="../meshes/box/box_40.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_40.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2644586331856935"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00013451942252191984" ixy="3.294717647509996e-09" ixz="-4.192904745136788e-08" iyy="0.00023675127493442483" iyz="-3.677139065508189e-08" izz="0.00022340349939447177"/>     </inertial>   </link>  </robot>