<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_131">   <link name="cylinder_box_131">     <visual>       <geometry>         <mesh filename="../meshes/box/box_131.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_131.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6627495718852424"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00087918412738716" ixy="4.26454864537624e-08" ixz="9.749404470850284e-08" iyy="0.0007405691396968634" iyz="1.7172031363443994e-07" izz="0.0009314240167152647"/>     </inertial>   </link>  </robot>