<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_8">   <link name="cylinder_box_8">     <visual>       <geometry>         <mesh filename="../meshes/box/box_8.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_8.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.38663427167362485"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00036361734942961615" ixy="-9.149183178164642e-08" ixz="6.479314754086069e-08" iyy="0.00028979381971515886" iyz="3.207421533813431e-08" izz="0.0003976730497347373"/>     </inertial>   </link>  </robot>