<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_195">   <link name="cylinder_box_195">     <visual>       <geometry>         <mesh filename="../meshes/box/box_195.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_195.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2723830101002041"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00017144530817702873" ixy="6.599330652412547e-09" ixz="-6.943989771735352e-09" iyy="0.00024120019457686326" iyz="1.868697784472673e-09" izz="0.00018696883210976055"/>     </inertial>   </link>  </robot>