<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_180">   <link name="cylinder_box_180">     <visual>       <geometry>         <mesh filename="../meshes/box/box_180.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_180.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.37634752007894196"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000294315089229021" ixy="-1.6576608901289865e-08" ixz="1.3662942730721837e-08" iyy="0.0003238715696485812" iyz="-4.635206839925051e-09" izz="0.00044019906607046204"/>     </inertial>   </link>  </robot>