<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_116">   <link name="cylinder_box_116">     <visual>       <geometry>         <mesh filename="../meshes/box/box_116.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_116.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.40622144810242844"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0003743332663608167" ixy="-4.93488031541961e-08" ixz="6.6922279305921305e-09" iyy="0.0003335914977074091" iyz="-2.8281724564146908e-08" izz="0.0005208232915870062"/>     </inertial>   </link>  </robot>