<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_123">   <link name="cylinder_box_123">     <visual>       <geometry>         <mesh filename="../meshes/box/box_123.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_123.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.24883444141228966"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00011417975678897542" ixy="-4.741613825135472e-09" ixz="2.750364805396264e-08" iyy="0.00022601494125751913" iyz="6.687719911224257e-10" izz="0.00022167995063875523"/>     </inertial>   </link>  </robot>