<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_118">   <link name="cylinder_box_118">     <visual>       <geometry>         <mesh filename="../meshes/box/box_118.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_118.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4125420753796997"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00032229285780870147" ixy="-2.4901649365689992e-08" ixz="1.7046034634360753e-07" iyy="0.000418243834494942" iyz="7.46686474452925e-09" izz="0.0004305872234702812"/>     </inertial>   </link>  </robot>