<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_127">   <link name="cylinder_box_127">     <visual>       <geometry>         <mesh filename="../meshes/box/box_127.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_127.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.40968062361675567"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00034158227068000895" ixy="3.957015421020078e-08" ixz="-2.057958373693494e-08" iyy="0.00037832732497328073" iyz="-3.4939891750622242e-09" izz="0.0005380487916573315"/>     </inertial>   </link>  </robot>