<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_100">   <link name="cylinder_box_100">     <visual>       <geometry>         <mesh filename="../meshes/box/box_100.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_100.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.41687457319685334"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00048258374865532884" ixy="1.1662620495456324e-07" ixz="2.0537183444638925e-07" iyy="0.0002951053699139751" iyz="-4.096010846946823e-09" izz="0.00047413162067186024"/>     </inertial>   </link>  </robot>