<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_83">   <link name="cylinder_box_83">     <visual>       <geometry>         <mesh filename="../meshes/box/box_83.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_83.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3828837206721521"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0002099870807345261" ixy="-1.37200695045256e-07" ixz="-8.757464141661204e-08" iyy="0.00040803180210740805" iyz="-1.2755507421835899e-06" izz="0.00029210892333331"/>     </inertial>   </link>  </robot>