<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_156">   <link name="cylinder_box_156">     <visual>       <geometry>         <mesh filename="../meshes/box/box_156.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_156.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.22479177973651807"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00014635431818360028" ixy="1.4538409247653753e-08" ixz="-3.085948892316701e-08" iyy="0.0001484996456846115" iyz="-2.1816356103606515e-08" izz="0.00012219901450622844"/>     </inertial>   </link>  </robot>