<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_182">   <link name="cylinder_box_182">     <visual>       <geometry>         <mesh filename="../meshes/box/box_182.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_182.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.26822355288624866"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00019336074493550546" ixy="1.695358039563907e-08" ixz="2.5973767287220998e-08" iyy="0.00021790431001247407" iyz="-1.1212045267165309e-09" izz="0.0001595359195901258"/>     </inertial>   </link>  </robot>