<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_65">   <link name="cylinder_box_65">     <visual>       <geometry>         <mesh filename="../meshes/box/box_65.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_65.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.16471947022160074"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.570753362038465e-05" ixy="-4.217658107122966e-09" ixz="-3.064168828058117e-09" iyy="7.41396073224563e-05" iyz="3.176438004404419e-08" izz="8.899693924340058e-05"/>     </inertial>   </link>  </robot>