<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_119">   <link name="cylinder_box_119">     <visual>       <geometry>         <mesh filename="../meshes/box/box_119.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_119.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4412927101329345"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00046974942632528653" ixy="9.560187000333563e-08" ixz="-5.089688730588569e-08" iyy="0.0003451091147035595" iyz="-5.002862844749568e-08" izz="0.0005344715104363965"/>     </inertial>   </link>  </robot>