<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_184">   <link name="cylinder_box_184">     <visual>       <geometry>         <mesh filename="../meshes/box/box_184.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_184.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4678733864456793"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00039469079747325757" ixy="-7.436536635138083e-08" ixz="3.673631973207149e-07" iyy="0.0005498915016068488" iyz="1.2205182952616895e-07" izz="0.0005078621556472998"/>     </inertial>   </link>  </robot>