<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_188">   <link name="cylinder_box_188">     <visual>       <geometry>         <mesh filename="../meshes/box/box_188.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_188.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4312028129440648"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00039472686255399554" ixy="-1.3375516678480378e-07" ixz="1.0946386151391632e-07" iyy="0.00038444072192500464" iyz="1.0982226893717559e-07" izz="0.0005680969136302565"/>     </inertial>   </link>  </robot>