<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_197">   <link name="cylinder_box_197">     <visual>       <geometry>         <mesh filename="../meshes/box/box_197.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_197.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.40167489991945377"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00041613995763102054" ixy="-6.209857443951548e-08" ixz="1.833309687194348e-07" iyy="0.0004983670722639025" iyz="-1.96612175677551e-08" izz="0.00028723525295815523"/>     </inertial>   </link>  </robot>