<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_104">   <link name="cylinder_box_104">     <visual>       <geometry>         <mesh filename="../meshes/box/box_104.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_104.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.22986153270859733"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00012525368769553892" ixy="-3.881854609269825e-08" ixz="-1.8614200924790133e-08" iyy="0.00015201407196189335" iyz="5.2007082099665725e-08" izz="0.000157433972632418"/>     </inertial>   </link>  </robot>