<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_11">   <link name="cylinder_box_11">     <visual>       <geometry>         <mesh filename="../meshes/box/box_11.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_11.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3605691234079463"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00034222548942144975" ixy="4.244694628363415e-08" ixz="7.675301933204201e-08" iyy="0.000395575294680605" iyz="-1.0136191909586286e-07" izz="0.00024211424435118906"/>     </inertial>   </link>  </robot>