<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_18">   <link name="cylinder_box_18">     <visual>       <geometry>         <mesh filename="../meshes/box/box_18.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_18.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3212999440952065"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00018620391901926866" ixy="-1.4874675908075271e-08" ixz="-1.4121347998229274e-08" iyy="0.00030832374491724957" iyz="2.1652209108075155e-08" izz="0.0003282414479491127"/>     </inertial>   </link>  </robot>