<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_52">   <link name="cylinder_box_52">     <visual>       <geometry>         <mesh filename="../meshes/box/box_52.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_52.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3910070408670678"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0003706207761775904" ixy="5.949838701909369e-07" ixz="-2.5994228879492006e-07" iyy="0.0004330627563863087" iyz="1.8895943053730917e-07" izz="0.00029132678333833973"/>     </inertial>   </link>  </robot>