<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_31">   <link name="cylinder_box_31">     <visual>       <geometry>         <mesh filename="../meshes/box/box_31.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_31.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4810349337686463"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0006149323945407488" ixy="1.2557798865952132e-08" ixz="9.235342315100503e-08" iyy="0.0005059456943725154" iyz="-2.4640143191362815e-07" izz="0.00042382214277387207"/>     </inertial>   </link>  </robot>