<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_154">   <link name="cylinder_box_154">     <visual>       <geometry>         <mesh filename="../meshes/box/box_154.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_154.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.20966883778446763"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00011453096371673249" ixy="-3.0441203020724997e-07" ixz="-1.8625767136067124e-08" iyy="0.0001234752804442685" iyz="-7.527969044807012e-09" izz="0.00012948652961216776"/>     </inertial>   </link>  </robot>