<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_35">   <link name="cylinder_box_35">     <visual>       <geometry>         <mesh filename="../meshes/box/box_35.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_35.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.38339657868455856"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000429314993184078" ixy="2.854312913100114e-08" ixz="7.149528263008138e-08" iyy="0.0002536919411122538" iyz="-1.1080381745923317e-07" izz="0.0004121074518222297"/>     </inertial>   </link>  </robot>