<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_93">   <link name="cylinder_box_93">     <visual>       <geometry>         <mesh filename="../meshes/box/box_93.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_93.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.46704140115538806"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0004098422650428436" ixy="-1.5759495190573802e-08" ixz="1.0513345711968919e-07" iyy="0.0004785498718284659" iyz="4.279917714796072e-11" izz="0.0006376177312659553"/>     </inertial>   </link>  </robot>