<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_140">   <link name="cylinder_box_140">     <visual>       <geometry>         <mesh filename="../meshes/box/box_140.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_140.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4826980222580139"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00048146025360557877" ixy="1.2554327490162096e-08" ixz="1.074741745249794e-07" iyy="0.0005792196803046237" iyz="2.1888746378056334e-07" izz="0.0004571917315467421"/>     </inertial>   </link>  </robot>