<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_97">   <link name="cylinder_box_97">     <visual>       <geometry>         <mesh filename="../meshes/box/box_97.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_97.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.43198652152076633"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00032034401438488333" ixy="2.3390700595483668e-08" ixz="2.9474265086660034e-07" iyy="0.00048648850597486984" iyz="3.358681219374319e-08" izz="0.0005056209160280835"/>     </inertial>   </link>  </robot>