<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_192">   <link name="cylinder_box_192">     <visual>       <geometry>         <mesh filename="../meshes/box/box_192.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_192.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5290012369549105"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000595039853700087" ixy="-2.5738813903167086e-07" ixz="1.7304421512330352e-07" iyy="0.0005292905431701968" iyz="3.5171521518886387e-07" izz="0.0006096124445619864"/>     </inertial>   </link>  </robot>