<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_78">   <link name="cylinder_box_78">     <visual>       <geometry>         <mesh filename="../meshes/box/box_78.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_78.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5323077151519843"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000581335195108099" ixy="-2.8065771142948936e-07" ixz="-1.7350988172883595e-09" iyy="0.0006112726364028985" iyz="1.7766653996449928e-08" izz="0.0005545777109844712"/>     </inertial>   </link>  </robot>