<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_155">   <link name="cylinder_box_155">     <visual>       <geometry>         <mesh filename="../meshes/box/box_155.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_155.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2376703377689656"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0001253624062976654" ixy="3.900003188368788e-08" ixz="-4.8521300408104767e-08" iyy="0.00016437333478461642" iyz="-2.908455716924334e-09" izz="0.00018583456935606003"/>     </inertial>   </link>  </robot>