<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_141">   <link name="cylinder_box_141">     <visual>       <geometry>         <mesh filename="../meshes/box/box_141.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_141.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5107771841951955"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0006247018288639683" ixy="-1.1261474435211453e-07" ixz="-8.932617585897722e-10" iyy="0.0005934012898825265" iyz="7.797177479686161e-07" izz="0.00045666920101875697"/>     </inertial>   </link>  </robot>