<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_144">   <link name="cylinder_box_144">     <visual>       <geometry>         <mesh filename="../meshes/box/box_144.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_144.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.28400555580658055"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022631694450391546" ixy="-6.671278249843446e-08" ixz="-2.6256596729636148e-08" iyy="0.00020011477265670263" iyz="3.1804026168585103e-09" izz="0.00018960757037851048"/>     </inertial>   </link>  </robot>