<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_77">   <link name="cylinder_box_77">     <visual>       <geometry>         <mesh filename="../meshes/box/box_77.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_77.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.355859383716961"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00033886180556555245" ixy="2.8390789449287036e-08" ixz="2.6094339422763783e-08" iyy="0.0002542547363224351" iyz="-1.1938603022389374e-07" izz="0.00031931235145635906"/>     </inertial>   </link>  </robot>