<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_196">   <link name="cylinder_box_196">     <visual>       <geometry>         <mesh filename="../meshes/box/box_196.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_196.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3925090852329542"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00032093510075253663" ixy="-4.4322416286358915e-08" ixz="1.643947886016553e-09" iyy="0.00044850189099398825" iyz="3.9364816380286056e-09" izz="0.0003381434658265078"/>     </inertial>   </link>  </robot>