<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_86">   <link name="cylinder_box_86">     <visual>       <geometry>         <mesh filename="../meshes/box/box_86.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_86.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2969335841796668"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00018067694815792961" ixy="2.561885556182275e-08" ixz="4.8181909248605015e-09" iyy="0.0002403772539035974" iyz="-7.773453358999903e-10" izz="0.00027395345373536326"/>     </inertial>   </link>  </robot>