<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_85">   <link name="cylinder_box_85">     <visual>       <geometry>         <mesh filename="../meshes/box/box_85.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_85.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6402220305193514"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000785913599237645" ixy="5.780130581326159e-07" ixz="-2.2497299132208304e-07" iyy="0.0007340987346172889" iyz="-7.193801433489592e-08" izz="0.0008675748674613365"/>     </inertial>   </link>  </robot>