<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_161">   <link name="cylinder_box_161">     <visual>       <geometry>         <mesh filename="../meshes/box/box_161.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_161.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3324483810456987"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0002456395565986312" ixy="-1.1646469172071038e-07" ixz="2.236780480774625e-08" iyy="0.00025332270314413477" iyz="2.0986057005335502e-08" izz="0.0003412615500246575"/>     </inertial>   </link>  </robot>