<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_63">   <link name="cylinder_box_63">     <visual>       <geometry>         <mesh filename="../meshes/box/box_63.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_63.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.38303086489669774"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00038597517809172674" ixy="-1.366456494688701e-08" ixz="2.9276731973761528e-09" iyy="0.00027833349575392713" iyz="1.5501678292013776e-07" izz="0.0003814357899747705"/>     </inertial>   </link>  </robot>