<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_171">   <link name="cylinder_box_171">     <visual>       <geometry>         <mesh filename="../meshes/box/box_171.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_171.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.31949262311159465"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022263715494739005" ixy="1.0786640717958512e-07" ixz="-6.174017578209689e-10" iyy="0.00024663787312123294" iyz="6.003272461178455e-08" izz="0.0003214806524757534"/>     </inertial>   </link>  </robot>