<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_151">   <link name="cylinder_box_151">     <visual>       <geometry>         <mesh filename="../meshes/box/box_151.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_151.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3082160173385103"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00023818613400748264" ixy="1.3805673885306163e-07" ixz="1.4067637258781705e-07" iyy="0.0002057287196032317" iyz="-6.476939641135933e-09" izz="0.0003111234341340233"/>     </inertial>   </link>  </robot>