<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_21">   <link name="cylinder_box_21">     <visual>       <geometry>         <mesh filename="../meshes/box/box_21.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_21.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6155940878643426"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0006360893582451805" ixy="1.4902113702956287e-07" ixz="-5.8913745868256515e-09" iyy="0.0008621852720295811" iyz="1.7655450586673225e-07" izz="0.0007867647928598406"/>     </inertial>   </link>  </robot>