<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_62">   <link name="cylinder_box_62">     <visual>       <geometry>         <mesh filename="../meshes/box/box_62.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_62.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6695202950709837"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0008475176836547641" ixy="3.3593834388239154e-07" ixz="1.0350297263574566e-07" iyy="0.0008074715123652922" iyz="-7.749580537301325e-08" izz="0.0009097425907006039"/>     </inertial>   </link>  </robot>