<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_122">   <link name="cylinder_box_122">     <visual>       <geometry>         <mesh filename="../meshes/box/box_122.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_122.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5703828990561988"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000576907528493927" ixy="-5.904212772835933e-08" ixz="3.341791110437401e-08" iyy="0.0007637253445901372" iyz="6.6017673051523356e-09" izz="0.000664529659960004"/>     </inertial>   </link>  </robot>