<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_142">   <link name="cylinder_box_142">     <visual>       <geometry>         <mesh filename="../meshes/box/box_142.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_142.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3313145431369513"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00032920219825938705" ixy="5.875375368680139e-08" ixz="-1.9443907661662485e-08" iyy="0.0002128074246747753" iyz="3.365076751851876e-09" izz="0.00029378073656590906"/>     </inertial>   </link>  </robot>