<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_17">   <link name="cylinder_box_17">     <visual>       <geometry>         <mesh filename="../meshes/box/box_17.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_17.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.26558441702623226"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00013239824979422745" ixy="7.27365334261003e-08" ixz="-1.6926657747507982e-08" iyy="0.0002387175908197713" iyz="5.539319316234058e-09" izz="0.00023636012777788175"/>     </inertial>   </link>  </robot>