<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_179">   <link name="cylinder_box_179">     <visual>       <geometry>         <mesh filename="../meshes/box/box_179.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_179.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2804552188084841"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00020441342816512794" ixy="1.6532040127471677e-08" ixz="2.9288900794293976e-08" iyy="0.00023186104068791125" iyz="3.571837436176359e-08" izz="0.00017560084158696135"/>     </inertial>   </link>  </robot>