<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_56">   <link name="cylinder_box_56">     <visual>       <geometry>         <mesh filename="../meshes/box/box_56.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_56.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.26516633709524245"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0002209820457537601" ixy="2.3639639661827432e-08" ixz="3.3494560861201746e-09" iyy="0.0001675519128435212" iyz="3.348268055609482e-08" izz="0.00017519876366794154"/>     </inertial>   </link>  </robot>