<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_165">   <link name="cylinder_box_165">     <visual>       <geometry>         <mesh filename="../meshes/box/box_165.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_165.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3528798249745613"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00036920718591157436" ixy="-1.7496579484774286e-08" ixz="-1.9237192302665535e-08" iyy="0.000274956159217013" iyz="-2.645598835052606e-07" izz="0.00027550523951134224"/>     </inertial>   </link>  </robot>