<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_39">   <link name="cylinder_box_39">     <visual>       <geometry>         <mesh filename="../meshes/box/box_39.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_39.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3702956473421448"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0002539436152050786" ixy="-1.1575875654445802e-07" ixz="-4.332900368530992e-09" iyy="0.000373834940075289" iyz="-3.1385333384651185e-07" izz="0.0003683666684780558"/>     </inertial>   </link>  </robot>