<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_25">   <link name="cylinder_box_25">     <visual>       <geometry>         <mesh filename="../meshes/box/box_25.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_25.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.373627695642161"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0003630480389846182" ixy="-4.3870755225794626e-08" ixz="2.860236796465809e-08" iyy="0.00041387810761955423" iyz="2.4967422895795615e-08" izz="0.0002565862146266979"/>     </inertial>   </link>  </robot>