<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_32">   <link name="cylinder_box_32">     <visual>       <geometry>         <mesh filename="../meshes/box/box_32.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_32.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.7808542838514398"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0011145452670576594" ixy="7.933966823434016e-08" ixz="2.7861161043979892e-08" iyy="0.0011409303130406777" iyz="-7.26064231893196e-08" izz="0.0010506667911254846"/>     </inertial>   </link>  </robot>