<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_189">   <link name="cylinder_box_189">     <visual>       <geometry>         <mesh filename="../meshes/box/box_189.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_189.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.8670711788694094"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00130763286494845" ixy="-5.780627687429357e-07" ixz="-1.8749612797434452e-07" iyy="0.0013317517534644564" iyz="-5.588243441782075e-07" izz="0.001294214846508621"/>     </inertial>   </link>  </robot>