<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_181">   <link name="cylinder_box_181">     <visual>       <geometry>         <mesh filename="../meshes/box/box_181.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_181.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.22285527409748873"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00014606654739761992" ixy="-2.124817242347853e-08" ixz="1.3148734946414496e-08" iyy="0.0001318259687988644" iyz="-2.1225447305602655e-08" izz="0.00012931221187025208"/>     </inertial>   </link>  </robot>