<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_136">   <link name="cylinder_box_136">     <visual>       <geometry>         <mesh filename="../meshes/box/box_136.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_136.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.38833213262279287"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00044707166203717926" ixy="-6.59843666838069e-09" ixz="4.5595700536299265e-08" iyy="0.0003328568134826261" iyz="5.5397052980806745e-09" izz="0.0003154224468276802"/>     </inertial>   </link>  </robot>