<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_87">   <link name="cylinder_box_87">     <visual>       <geometry>         <mesh filename="../meshes/box/box_87.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_87.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.24448551486984843"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00020152533232848578" ixy="-1.0051945529191434e-08" ixz="-8.3464228782457e-08" iyy="0.0001941118345061118" iyz="-1.271025168889646e-08" izz="0.0001202205514092123"/>     </inertial>   </link>  </robot>