<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_172">   <link name="cylinder_box_172">     <visual>       <geometry>         <mesh filename="../meshes/box/box_172.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_172.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4151999396471891"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00031413802338614235" ixy="1.5628840142307887e-08" ixz="1.1597303178228836e-07" iyy="0.0005423061912474911" iyz="4.800785470855218e-08" izz="0.0004281621896854595"/>     </inertial>   </link>  </robot>