<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_139">   <link name="cylinder_box_139">     <visual>       <geometry>         <mesh filename="../meshes/box/box_139.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_139.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.30256232645668274"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00030974791294186276" ixy="-5.457290170787836e-09" ixz="-4.67948948387231e-09" iyy="0.00024583461957177795" iyz="-7.3925958032202e-08" izz="0.00018740282665948355"/>     </inertial>   </link>  </robot>