<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_99">   <link name="cylinder_box_99">     <visual>       <geometry>         <mesh filename="../meshes/box/box_99.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_99.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.43593139846601997"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00040570738063865" ixy="1.27684306974564e-07" ixz="8.788517630155286e-08" iyy="0.000584068988544319" iyz="-4.1383903815328346e-08" izz="0.0003891007735789791"/>     </inertial>   </link>  </robot>