<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_106">   <link name="cylinder_box_106">     <visual>       <geometry>         <mesh filename="../meshes/box/box_106.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_106.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.35234907684452327"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00040564910178622507" ixy="2.14405767304677e-08" ixz="-9.810418217854637e-08" iyy="0.00033736248185994475" iyz="-3.328995044163529e-08" izz="0.00022942295081606506"/>     </inertial>   </link>  </robot>