<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_47">   <link name="cylinder_box_47">     <visual>       <geometry>         <mesh filename="../meshes/box/box_47.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_47.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5578407990830906"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000557130630394124" ixy="8.083391883832377e-09" ixz="7.66422049135165e-07" iyy="0.0006547245583400456" iyz="3.030905503525281e-07" izz="0.0007015517516717188"/>     </inertial>   </link>  </robot>