<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_174">   <link name="cylinder_box_174">     <visual>       <geometry>         <mesh filename="../meshes/box/box_174.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_174.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4796122309729256"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000475049841590542" ixy="1.6865514970519769e-07" ixz="3.534225408156432e-07" iyy="0.0004474063555030487" iyz="-7.249652485870982e-08" izz="0.0006431864545532983"/>     </inertial>   </link>  </robot>